body {
    background: url(images/fon.jpg);
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-family: Tahoma, Geneva, sans-serif;
}
#page {
    width: 50%;
    height: 900px;
    margin: auto;
    min-height: 100%;
}

#header {
    border-top: 5px groove #2E8494;
    border-bottom: 5px groove #2E8494;
    margin-top: 25px;
    background: url(images/fon-page.png);
    background-size: contain;
    height: 300px;
}
#header-menu {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    float:none;
}
a.first-header {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: #839DA3;
    font-size: 15px;
    padding: 20px;
    margin-top: 20%;
    border-bottom:2px solid gray;
}
.logo-text {
    height: 200px;
    font-size: 25px;
    font-weight: bold;
    color: #839DA3;
    text-shadow: 5px 4px 3px black;
    text-align: center;
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.text{
    font-size: 22px;
    text-align: justify;
    font-family: Tahoma;
    text-indent: 22px;
}
#tasks{
	 font-size: 22px;
    text-align: center;
	line-height: 1.5
}
#kata{
	 font-size: 15px;
	text-align: left;
	padding-left:0px;
	margin-left: 200px;
}
#h1-cent {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}
